<section class="Home__cards">
  <div class="container">
    <h2 class="Home__cards-heading">Recently Added Boats</h2>
    <div class="row">
      <% @rooms.each do |room| %>
        <div class="col-sm-6 col-md-4">
          <%= render 'shared/card', room: room %>
        </div>
      <% end %>
    </div>
  </div>
</section>
