<div class="container">
<h1>Lovely flat in Athens</h1>

</div>


<div class="container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=);">
  <div class="container">
    <h1>Lovely flat in Athens</h1>
    <p>Next to the Acropole discover this secret place for your hollidays</p>
  </div>
</div>
</div>

<div class="container">
  <div class="d-flex justify-content-between">
  <img src="https://media-cdn.tripadvisor.com/media/vr-splice-j/06/68/f2/3c.jpg" alt="" width="250px">
  <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/379399676.jpg?k=2b20b61b2f87af45e87274f21e61f7bbe15abe16207ae05e849377b02dc0c653&o=&hp=1" alt="" width="250px">
  <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/107792866.jpg?k=5039faaa337073bdf75ededd544f5389aea3594066a6d0446c845c836e8858f6&o=&hp=1" alt="" width="250px">
  <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/375022892.jpg?k=338ac5e22c3b2b64811760455f857f2170431d2069f5a7e04e504e0ed23c6835&o=&hp=1" alt="" width="250px">

  </div>
</div>

<div class="container">
<h2>Description</h2>
<p>A luxury place in Athens, next to the Acropol with a view on it. Enjoy the terrace with this view. Perfect for a small family who look for calm.</p>
<p>I'm a tour guide so I can give you tips on the city, know the best places. This flat is near to the best restaurant of Athens, and 15 minutes from the sea !</p>
</div>

<div class="container">
<h2>Know more about this flat</h2>
<div class="container">
<i class="fa fa-bed" aria-hidden="true"></i>
<p><strong>Number of bed(s): </strong>2 beds, perfect for a small family with 1 child</p>

<i class="fa fa-wifi" aria-hidden="true"></i>
<p><strong>Wi-fi</strong> available</p>

<i class="fa fa-check-square" aria-hidden="true"></i>
<p><strong>Available from</strong> 01/09/2023 <strong>to</strong> 01/10/2023</p>

<i class="fa-solid fa-users"></i>
<p><strong>Max occupants :</strong> 4 people</p>

</div>

</div>

<div class="container">
<div class="container" class="m-5">
<button type="button" class="m-5" class="p-5" class="btn btn-secondary">Secondary</button>

</div>

</div>

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Stay Relax, Stay Flex
  </div>
</div>
