<div class="container">
<h1>Flats for "athens"</h1>

</div>


<div class="container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/296470766.jpg?k=ad01a76e86799cb27e099b8db5e4e5d1506a9184ebaa74c225a6b477fbad87e7&o=);">
  <div class="container">
    <h1>Lovely flat in Athens</h1>
    <p>Next to the Acropole discover this secret place for your hollidays</p>
    <a class="btn btn-flat" href="#">Réserver</a>
  </div>
</div>
</div>

<div class="container">
<h2>Description</h2>
<p>A diebus atque 'inquam' saepius in C exposui cum sermonem et secum praesentibus hoc secum ipsam ab exposuit illo in. A diebus atque 'inquam' saepius in C exposui cum sermonem et secum praesentibus hoc secum ipsam ab exposuit illo in.</p>
</div>

<div class="container">
<h2>Know more about this flat</h2>
<div class="container">
<i class="fa fa-bed" aria-hidden="true"></i>
<p>2 beds, perfect for a small family with 1 child</p>

<i class="fa fa-wifi" aria-hidden="true"></i>
<p>Wi-fi available</p>

<i class="fa fa-check-square" aria-hidden="true"></i>
<p>Available from 01/09/2023 to 01/10/2023</p>

</div>

</div>
